In [39]:
#list of highschools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

for schools in high_schools:
    print (schools)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [37]:
# Add the Pandas dependency.
import pandas as pd

# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [43]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

school_df= pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [82]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

# Initialize a new DataFrame.
schools_df1 = pd.DataFrame()

# Add the list to a new DataFrame.
schools_df1["SCHOOL ID"] = school_id
schools_df1["NAME"] = school_name
schools_df1["TYPE"] = type_of_school

# Print the DataFrame.
schools_df1

   SCHOOL ID                   NAME      TYPE
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [87]:
# Create a dictionary of information on high schools.

high_school_dict_df = pd.DataFrame()

high_school_dict2= {'SCHOOL ID2':school_id, 'NAME2':school_name,'TYPE2':type_of_school}

high_school_dict_df = pd.DataFrame(high_school_dict2)

high_school_dict_df

   SCHOOL ID2                  NAME2     TYPE2
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter

In [92]:

high_school_dict_df.columns

Index(['SCHOOL ID2', 'NAME2', 'TYPE2'], dtype='object')

In [93]:
high_school_dict_df.index

RangeIndex(start=0, stop=5, step=1)

In [94]:
high_school_dict_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)