In [102]:
# Add the dependencies.
import pandas as pd
import os


# Files to load
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "clean_students_complete.csv")

# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)



student_data_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [103]:
school_data_df.head(5)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [104]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [105]:
new_columns = []

In [106]:
# Calculate the total number of schools
school_count= len(school_data_complete_df["school_name"].unique())
school_count

15

In [107]:
# Calculate the total number of schools.
student_count = school_data_complete_df["student_name"].count()
student_count

39170

In [108]:
# Calculate the total budget.
total_budget= school_data_df["budget"].sum()
total_budget

24649428

In [109]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()/100
average_reading_score

0.8187784018381414

In [110]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()/100
average_math_score

0.7898537145774828

In [111]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [112]:
#passing_math = school_data_complete_df["math_score"] >= 70
#passing_reading = school_data_complete_df["reading_score"] >= 70
#passing_math.count()

In [113]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math_count=passing_math['math_score'].count()
passing_math_count

29370

In [114]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading_count=passing_reading ['student_name'].count()
passing_reading_count

33610

In [115]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count)
# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count)

In [116]:
print(passing_math_percentage)

0.749808526933878

In [117]:
print(passing_reading_percentage)

0.8580546336482001

In [118]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [119]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [120]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count 
overall_passing_percentage

0.6517232575950983

In [121]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,.2f}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.0f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.0f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.0f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1%}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1%}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1%}".format)

#code to align values to the center
district_summary_df.style.set_properties(**{'text-align': 'center'})

In [122]:
# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_schooldf = pd.DataFrame(per_school_types)
per_schooldf

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [123]:
# Calculate the total student count.
per_school_counts = school_data_complete_df["size"]
per_school_counts

0        2917
1        2917
2        2917
3        2917
4        2917
         ...
39165    1635
39166    1635
39167    1635
39168    1635
39169    1635
Name: size, Length: 39170, dtype: int64

In [124]:
# Calculate the total student count.
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [125]:
# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [126]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [127]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [128]:
# Calculate the average math scores.
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

,Unnamed: 0,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,,
Bailey High School,20358.5,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [224]:
# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]/100

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]/100

In [225]:
per_school_math

school_name
Bailey High School       0.770484
Cabrera High School      0.830619
Figueroa High School     0.767118
Ford High School         0.771026
Griffin High School      0.833515
Hernandez High School    0.772898
Holden High School       0.838033
Huang High School        0.766294
Johnson High School      0.770725
Pena High School         0.838399
Rodriguez High School    0.768427
Shelton High School      0.833595
Thomas High School       0.834183
Wilson High School       0.832742
Wright High School       0.836822
Name: math_score, dtype: float64

In [226]:
per_school_reading

school_name
Bailey High School       0.810340
Cabrera High School      0.839758
Figueroa High School     0.811580
Ford High School         0.807463
Griffin High School      0.838168
Hernandez High School    0.809344
Holden High School       0.838150
Huang High School        0.811827
Johnson High School      0.809664
Pena High School         0.840447
Rodriguez High School    0.807447
Shelton High School      0.837257
Thomas High School       0.838489
Wilson High School       0.839895
Wright High School       0.839550
Name: reading_score, dtype: float64

In [132]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [133]:
per_school_passing_math.head(2)

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [134]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [135]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts

per_school_passing_reading = per_school_passing_reading / per_school_counts

In [136]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [137]:
# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [138]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts

In [227]:
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,0.770484,0.810340,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,582.0,0.830619,0.839758,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,639.0,0.767118,0.811580,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,644.0,0.771026,0.807463,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,625.0,0.833515,0.838168,0.933924,0.971390,0.905995

In [228]:
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})


per_school_summary_df["Total Students"] = per_school_summary_df["Total Students"].map("{:,.2f}".format) #NUM
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.0f}".format) #CURRENCY
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.0f}".format)  #CURRENCY
per_school_summary_df["Average Math Score"] = per_school_summary_df["Average Math Score"].map("{:.1%}".format) #PERCENTAGE
per_school_summary_df["Average Reading Score"] = per_school_summary_df["Average Reading Score"].map("{:.1%}".format) #PERCENTAGE
per_school_summary_df["% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:.1%}".format) #PERCENTAGE
per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:.1%}".format)#PERCENTAGE
per_school_summary_df["% Overall Passing"] = per_school_summary_df["% Overall Passing"].map("{:.1%}".format)#PERCENTAGE


per_school_summary_df
#code to align values to the center
per_school_summary_df.style.set_properties(**{'text-align': 'center'})

In [157]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858.00","$1,081,356",$582,83.1%,84.0%,94.1%,97.0%,91.3%
Thomas High School,Charter,"1,635.00","$1,043,130",$638,83.4%,83.8%,93.3%,97.3%,90.9%
Griffin High School,Charter,"1,468.00","$917,500",$625,83.4%,83.8%,93.4%,97.1%,90.6%
Wilson High School,Charter,"2,283.00","$1,319,574",$578,83.3%,84.0%,93.9%,96.5%,90.6%
Pena High School,Charter,962.00,"$585,858",$609,83.8%,84.0%,94.6%,95.9%,90.5%

In [156]:
# Sort and show top five schools.
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999.00","$2,547,363",$637,76.8%,80.7%,66.4%,80.2%,53.0%
Figueroa High School,District,"2,949.00","$1,884,411",$639,76.7%,81.2%,66.0%,80.7%,53.2%
Hernandez High School,District,"4,635.00","$3,022,020",$652,77.3%,80.9%,66.8%,80.9%,53.5%
Huang High School,District,"2,917.00","$1,910,635",$655,76.6%,81.2%,65.7%,81.3%,53.5%
Johnson High School,District,"4,761.00","$3,094,650",$650,77.1%,81.0%,66.1%,81.2%,53.5%

In [229]:
 #Create a grade level DataFrames.
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [230]:
ninth_graders.head(5)

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
12,12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635

In [231]:
# Group each grade level DataFrame by the school name for the average math score.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]/100

tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]/100

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]/100

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]/100

In [253]:
# Group each grade level DataFrame by the school name for the average reading score.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]/100

tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]/100

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]/100

twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]/100

In [254]:
# Combine each grade level Series for average math scores by school into a single DataFrame.
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

math_scores_by_grade [["9th","10th","11th","12th"]] = math_scores_by_grade[["9th","10th","11th","12th"]].applymap("{:.1%}".format) #PERCENTAGE
math_scores_by_grade.head()

                        9th   10th   11th   12th
school_name
Bailey High School    77.1%  77.0%  77.5%  76.5%
Cabrera High School   83.1%  83.2%  82.8%  83.3%
Figueroa High School  76.4%  76.5%  76.9%  77.2%
Ford High School      77.4%  77.7%  76.9%  76.2%
Griffin High School   82.0%  84.2%  83.8%  83.4%

In [255]:
# Combine each grade level Series for average reading scores by school into a single DataFrame.
reading_scores_by_grade = pd.DataFrame({
              "9th": ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})


reading_scores_by_grade [["9th","10th","11th","12th"]] = reading_scores_by_grade[["9th","10th","11th","12th"]].applymap("{:.1%}".format) #PERCENTAGE
reading_scores_by_grade.head()

                        9th   10th   11th   12th
school_name
Bailey High School    81.3%  80.9%  80.9%  80.9%
Cabrera High School   83.7%  84.3%  83.8%  84.3%
Figueroa High School  81.2%  81.4%  80.6%  81.4%
Ford High School      80.6%  81.3%  80.4%  80.7%
Griffin High School   83.4%  83.7%  84.3%  84.0%